i {
    color: blue;
}

/*------------------------------*/
/*Resolucion para dispositivos moviles muy pequeños*/
/*------------------------------*/
@media (max-width: 576px) {
    .contenedor-escritorio {
        display: none;
    }
}
/*------------------------------*/
/*Resolucion para dispositivos moviles pequeños*/
/*------------------------------*/
@media (min-width:576px) and (max-width: 767px) {
    .contenedor-escritorio {
        display: none;
    }
}
/*------------------------------*/
/*Resolucion para tablets*/
/*------------------------------*/
/**/
@media (min-width:768px) and (max-width: 991px) {
    .contenedor-escritorio {
        display: none;
    }
}
/*------------------------------*/
/*Resolucion para pc de escritorio*/
/*------------------------------*/
@media (min-width:992px) {
    .contenedor-escritorio {
        display: block;
    }
    #calendario-icon {
        font-size: 20px;
        margin-left: -35px;
    }
    #direccion-icon {
        font-size: 20px;
        margin-left: -35px;
    }
    #celular-icon {
        font-size: 20px;
        margin-left: -35px;
    }
    #logo-header {
        width: auto;
        height: 75px;
        margin-right: 0px;
    }
    .margen-calendario {
        margin-right: 35px;
    }
    .margen-direccion {

    }
    .margen-celular {
        margin-left: 35px;
    }
    
    .btn {
    transition: all .5s ease;
    background-color : transparent;
}
    .btn:hover {
        background-color: rgba(9, 0, 179, 0.584);
    }
}

